<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          	<li>s</li>
            <li>Start Date:<div dx-date-box="boxOptions"></div></li>
            <li>End Date:<div dx-date-box="boxOptions2"></div></li>
            <li><div dx-button="buttonOptions"></div></li>

            <li><div dx-tree-view ="treeViewOpt"></div> </li>

            
           </ul>
      
        </div>
        
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h3 class="page-header">Dashboard records returned: {{trans.length}}</h3>
			<div dx-data-grid="gridSettings"></div>
        
          </div>








